.skills .box {
  /* box-shadow: 750px -500px 500px #0c2e36; */
  background-color: var(--black-color-2);
  color: var(--white-color);
  padding: 13px 15px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 17px;
  border-left: 5px solid var(--blue-color);
  position: relative;
  overflow: hidden;
}
.skills .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--blue-color);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  opacity: 0.1;
}
.skills .box:hover::before {
  width: 100%;
}
