.preloader {
  background-color: var(--black-color);
  /* background-color: red; */
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999999999999999999999;
}
