.home {
  min-height: 100vh;
  padding-top: 145px;
  position: relative;
}

.home .social {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 5555;
}

@media (max-width: 992px) {
  .home {
    padding-top: 80px;
  }
  .home .social {
    position: absolute;
    bottom: unset;
    left: unset;
    top: 5px;
    left: 50%;
    width: 93%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
