.home {
  position: relative;
}
.home .container {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .container .info {
  width: 60%;
}
.home .container .header-img {
  width: 40%;
}
@media (max-width: 992px) {
  .home .container {
    flex-direction: column;
  }
  .home .container .info,
  .home .container .header-img {
    flex: 1;
    width: 100%;
  }
  .home .container .info {
    order: 2;
  }
  .home .container .header-img {
    order: 1;
  }
}

.home .social {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 5555;
}

@media (max-width: 992px) {
  .home::before {
    content: "";
    background-color: var(--blue-color);
    position: absolute;
    top: -20%;
    left: -25%;
    height: 50%;
    width: 150%;
    z-index: -5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .home .social {
    position: absolute;
    bottom: unset;
    left: unset;
    top: 5px;
    left: 50%;
    width: 93%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
