.header-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-img .img {
  height: 700px;
  margin-top: 30px;
  position: relative;
}

.header-img .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* media */
@media (max-width: 400px) {
  .header-img {
    justify-content: center;
    margin-bottom: -10px;
  }
  .header-img .img {
    height: 200px;
    margin-top: 60px;
  }
}

@media (min-width: 400px) and (max-width: 992px) {
  .header-img {
    justify-content: center;
    margin-bottom: -10px;
  }
  .header-img .img {
    height: 270px;
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .header-img .img {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  /* shape */
  .header-img .img::before,
  .header-img .img::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: -15px;
    z-index: -2;
    border: 200px solid var(--blue-color);
    animation: circle 7s linear infinite;
    -webkit-animation: circle 7s linear infinite;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .header-img .img::after {
    animation: circle2 5s linear infinite;
    -webkit-animation: circle2 5s linear infinite;
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-8px) rotate(0deg);
    -webkit-transform: rotate(0deg) translate(-8px) rotate(0deg);
    -moz-transform: rotate(0deg) translate(-8px) rotate(0deg);
    -ms-transform: rotate(0deg) translate(-8px) rotate(0deg);
    -o-transform: rotate(0deg) translate(-8px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-8px) rotate(-360deg);
    -webkit-transform: rotate(360deg) translate(-8px) rotate(-360deg);
    -moz-transform: rotate(360deg) translate(-8px) rotate(-360deg);
    -ms-transform: rotate(360deg) translate(-8px) rotate(-360deg);
    -o-transform: rotate(360deg) translate(-8px) rotate(-360deg);
  }
}

@keyframes circle2 {
  0% {
    transform: rotate(0deg) translate(-15px) rotate(0deg);
    -webkit-transform: rotate(0deg) translate(-15px) rotate(0deg);
    -moz-transform: rotate(0deg) translate(-15px) rotate(0deg);
    -ms-transform: rotate(0deg) translate(-15px) rotate(0deg);
    -o-transform: rotate(0deg) translate(-15px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-15px) rotate(-360deg);
    -webkit-transform: rotate(360deg) translate(-15px) rotate(-360deg);
    -moz-transform: rotate(360deg) translate(-15px) rotate(-360deg);
    -ms-transform: rotate(360deg) translate(-15px) rotate(-360deg);
    -o-transform: rotate(360deg) translate(-15px) rotate(-360deg);
  }
}
