.header-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-img .img {
  height: 700px;
  margin-top: 30px;
  position: relative;
}

.header-img .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* media */
@media (max-width: 400px) {
  .header-img {
    justify-content: center;
    margin-bottom: -10px;
  }
  .header-img .img {
    height: 200px;
    margin-top: 60px;
  }
}

@media (min-width: 400px) and (max-width: 992px) {
  .header-img {
    justify-content: center;
    margin-bottom: -10px;
  }
  .header-img .img {
    height: 270px;
    margin-top: 60px;
  }
}

@media (min-width: 992px) {
  .header-img .img {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }

  .header-img .img::before {
    content: "";
    position: absolute;
    width: 420px;
    height: 420px;
    left: -5px;
    top: -10px;
    z-index: -2;
    background-color: var(--blue-color);
    background-image: linear-gradient(
      var(--blue-color),
      65%,
      rgba(0, 255, 4, 0.45)
    );
    border-radius: 30% 70% 70% 30% / 30% 37% 63% 70%;
    -webkit-border-radius: 30% 70% 70% 30% / 30% 37% 63% 70%;
    -moz-border-radius: 30% 70% 70% 30% / 30% 37% 63% 70%;
    -ms-border-radius: 30% 70% 70% 30% / 30% 37% 63% 70%;
    -o-border-radius: 30% 70% 70% 30% / 30% 37% 63% 70%;
  }
}
