.contact .head {
  color: var(--white-color-2);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: -25px;
  padding-bottom: 25px;
}
.contact .info {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}
.contact .info > div {
  background-color: var(--black-color-2);
  color: var(--white-color-2);
  border: 1px solid var(--white-color-2);
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  padding: 25px;
  letter-spacing: 1px;
}
.contact .info > div svg {
  margin-bottom: 25px;
  font-size: 24px;
}
@media (max-width: 576px) {
  .contact .info {
    flex-direction: column;
  }
  .contact .info > div {
    width: 100%;
  }
}
