.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 1px;
}
.contact-info > div,
.contact-info > a {
  background-color: var(--black-color-2);
  color: var(--white-color-2);
  border: 1px solid var(--white-color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  z-index: 4;
}

.contact-info > div::before,
.contact-info > a::before,
.contact-info > div::after,
.contact-info > a::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 0;
  background-color: var(--blue-color);
  z-index: -4;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.contact-info > div::before,
.contact-info > a::before {
  top: 0;
  left: 0;
}
.contact-info > div::after,
.contact-info > a::after {
  bottom: 0;
  right: 0;
}
.contact-info > div:hover:before,
.contact-info > a:hover::before,
.contact-info > div:hover::after,
.contact-info > a:hover::after {
  width: 100%;
  opacity: 0.1;
}

.contact-info > div svg,
.contact-info > a svg {
  margin-bottom: 30px;
  font-size: 28px;
}
.contact-info > div svg {
  font-size: 36px;
}
