.nav {
  background-color: var(--black-color-2);
  position: fixed;
  top: 5px;
  left: 50%;
  translate: -50% 0;
  width: 88%;
  z-index: 555555555;
}
.nav .logo {
  font-size: 35px;
  padding: 0 15px 0 20px;
  color: var(--white-color-2);
  letter-spacing: 5px;
  font-weight: bold;
  background-color: var(--blue-color);
  border-radius: 10px 25px 10px 25px;
  -webkit-border-radius: 10px 25px 10px 25px;
  -moz-border-radius: 10px 25px 10px 25px;
  -ms-border-radius: 10px 25px 10px 25px;
  -o-border-radius: 10px 25px 10px 25px;
}
.nav .links > ul {
  display: flex;
}
.nav .links > ul > li > a {
  padding: 8px 12px;
  margin: 13px 5px;
  color: var(--white-color);
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}
.nav .links > ul > li > a:hover {
  background-color: rgba(0, 0, 0, 0.301);
}
.nav .links > ul > li > a.active {
  background-color: var(--blue-color);
}
@media (max-width: 767.2px) {
  .nav {
    top: unset;
    bottom: 10px;
    width: 70%;
  }
  .nav .links {
    width: 100%;
    text-align: center;
    margin: 15px 0;
  }
  .nav .links > ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .nav .links > ul > li {
    width: calc(100% / 3 - 10px);
  }
  .nav .links > ul > li > a {
    width: 100%;
    margin: 0;
    border: 1px solid var(--white-color-2);
    font-size: 14px;
  }
}
@media (max-width: 492px) {
  .nav .links > ul > li {
    width: calc(100% / 2 - 10px);
  }
}

.nav-menu {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 55555;
}
.nav-menu svg {
  font-size: 40px;
  background-color: var(--blue-color);
  color: var(--white-color-2);
  padding: 4px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}
.links.show {
  display: block !important;
}
