.section-header {
  font-size: 52px;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--white-color);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
  position: relative;
}
.section-header::before {
  content: "";
  background-color: var(--white-color);
  position: absolute;
  height: 3px;
  width: 0;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.section-header:hover:before {
  width: 20%;
}
.section-header > span {
  content: "";
  position: absolute;
  left: 50%;
  top: -50px;
  opacity: 0.1;
  z-index: -5;
  font-size: 80px;
  scale: 1 1.1;
  color: var(--white-color);
  user-select: none;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 100%;
}
@media (max-width: 567px) {
  .section-header {
    font-size: 30px;
  }
  .section-header > span {
    font-size: 40px;
    top: -25px;
  }
}
@media (min-width: 567px) and (max-width: 992px) {
  .section-header {
    font-size: 40px;
  }
  .section-header > span {
    font-size: 60px;
    top: -35px;
  }
}
