:root {
  --blue-color: rgb(2, 138, 138);
  --blue-color-2: rgb(26, 85, 85);
  --dark-color: black;
  --black-color: #0d1117;
  --black-color-2: #1b1f2a;
  --black-color-3: #14171f;
  --white-color: #eef6fe;
  --white-color-2: #c6d2e0;
  --shadow-color: #1f144b52;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--black-color);
  color: var(--white-color);
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button,
input,
textarea {
  border: none;
  outline: none;
}
::selection {
  background-color: var(--blue-color);
  color: var(--white-color);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    transparent,
    var(--blue-color-2),
    transparent
  );
}
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(
    var(--black-color),
    var(--blue-color),
    var(--black-color)
  );
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-1 {
  flex: 1;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 30px;
}

.r-50 {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.r-5 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.r-15 {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.wh-100 {
  width: 100%;
  height: 100%;
}

.section-mb {
  margin-bottom: 120px;
}
@media (max-width: 992px) {
  .section-mb {
    margin-bottom: 80px;
  }
}
